{{!-- Testing out Google Maps Library--}}
<header>
  <h1 class="coffee">
    {{title}}
  </h1>
  <span class="flex"></span>
</header>

<div class="searchBar">
  <input id="zipCode" type=”text” placeholder="Enter ZIP Code">
  <button id="zipButton" {{action SearchTextField}}>  <img src="{{rootURL}}assets/coffee-cup-circle.png" width="20" height="20"> </button>

</div>


{{!-- Initial Map View with --}}
{{#g-map lat=latitude lng=longitude zoom=12 styles=darkStyle as |g|}}
  {{g.marker
     lat=latitude
     lng=longitude}}
{{/g-map}}

{{outlet}}
